<html>
    <body>
        
        <form>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><h6>Import Excel</h6></div>
                <div class="col-sm-4"></div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <form method="post" enctype="multipart/form-data">
                            <label for="myfile">Select a file:</label>
                            <input type="file" id="myfile" name="myfile" [(ngModel)]="excel"><br><br>
                            <button type="submit" (click)="uploadexcel()">submit</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </form>
        
            
    </body>
</html>